<nav class="navbar">
  <div class="container">
    <!--Logo-->
    <div class="logo">Etikala Madhuri</div>

    <!--Navigation Menu-->
    <ul class="nav-links">
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#experience">Experience</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>

    <!--Resume Button-->
    <div class="nav-actions">
      <a href="">Resume</a>
    </div>
  </div>
</nav>
